<%= turbo_frame_tag dom_id(comment) do %>
    <div class='flex flex-col gap-2'>
        <p><%= comment.body %></p>
        <p class='text-xs text-gray-400'><%= comment.user.email %></p>
    </div>
<% end %>