@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 1rem;
}

button, input[type=submit] {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover, input[type=submit]:hover {
  background-color: silver;
}