<%= turbo_frame_tag "toast" do %>
    <% if notice %>
        <div class='bg-green-100 p-2 m-2 rounded-md'><%= notice %></div>
    <% elsif alert %>
        <div class='bg-red-100 p-2 m-2 rounded-md'><%= alert %></div>
    <% end %>
<% end %>